@import '../../App.scss';

.card-vote {
    color: $white;
    display: flex;
	.content {
		position: relative;
        height: 600px;
        background-size: cover;
        display: flex;
        flex-direction: column-reverse;
        .box-info {
            padding: 40px 40px 20px;
            h1 {
                font-size: 60px;
                line-height: 60px;
                font-weight: 400;
                margin: 0;
            }
            h2 {
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
            }
            h3 {
                font-size: 16px;
                line-height: 19px;
                margin: 0;
                font-weight: 300;
            }
            h5 {
                margin-top: 4px;
            }
            a {
                color: $white;
                font-size: 14px;
                line-height: 24px;
                text-decoration: none;
            }
            .agree, .disagree {
                width: 31px;
                height: 31px;
                margin-right: 10px;
                margin-Top: 5px;
                justify-content: center;
                flex-direction: column;
                img {
                    width: 18px;
                    height: 18px;
                }
            }
            .box-buttom {
                .agree, .disagree {
                    width: 31px;
                    height: 31px;
                    margin-right: 10px;
                    margin-Top: 5px;
                    justify-content: center;
                    flex-direction: column;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                .active {
                    border: 2px solid white;
                }
                button {
                    height: 42px;
                }
            }
            .candidate-name {
                align-items: flex-end;
                margin-left: -40px;
                h1 {
                    width: 90%;
                }
                span {
                    margin-bottom: 8px;
                }
            }

        }
    }
}