@import '../../App.scss';


.footer {
    box-sizing: border-box;
	padding: 2px 7vw ;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 400;
    }
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    ul, nav{
        list-style: none;
    }
    nav li {
        margin: 0 15px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
    }
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        display: block;
    }
    
}